.main { 
    background-color:#1a202d ;
    height: 100vh;
    width: 100%;
}

.todolist { 
    height: 60vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   
    padding-top:40px;
    padding-left: 40px;
    padding-right:40px;
    color: white;
    
}

.todolist ul { 
    list-style-type: none;
}

.todolist ul li { 
    line-height:60px;
    display: flex;
    justify-content: space-between;
}


.form { 
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-left: 40px;
    padding-right:40px;
}